In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time_-_ARCHIVED.csv")

df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,"297,229","241,035","56,194",0,0,"4,851",NaN,NaN,0,0,03/12/2021 03:20:13 PM,Agree,NaN
1,12/01/2021,ND,"163,565","135,705","27,860",589,220,"1,907",NaN,NaN,9,0,12/02/2021 02:35:20 PM,Agree,Not agree
2,01/02/2022,AS,11,NaN,NaN,0,0,0,NaN,NaN,0,0,01/03/2022 03:18:16 PM,NaN,NaN
3,11/22/2021,AL,"841,461","620,483","220,978",703,357,"16,377","12,727","3,650",7,3,11/22/2021 12:00:00 AM,Agree,Agree
4,05/30/2022,AK,"251,425",NaN,NaN,0,0,"1,252",NaN,NaN,0,0,05/31/2022 01:20:20 PM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60055,02/09/2021,TX,"2,504,556",NaN,NaN,"13,329","2,676","43,306",NaN,NaN,207,0,02/11/2021 12:00:00 AM,Not agree,Not agree
60056,11/20/2020,FL,"913,561",NaN,NaN,"8,217","1,677","19,014",NaN,NaN,79,5,11/20/2020 12:00:00 AM,Not agree,Not agree
60057,08/17/2020,NM,"23,500",NaN,NaN,92,0,682,NaN,NaN,4,0,08/19/2020 12:00:00 AM,NaN,Not agree
60058,06/17/2020,MS,"24,223","24,038",185,521,6,"1,191","1,172",19,9,0,06/19/2020 12:00:00 AM,Agree,Agree
60059,05/07/2022,MA,"1,779,829","1,638,144","141,685",0,0,"20,334","19,198","1,136",0,0,05/09/2022 01:14:40 PM,Agree,Agree

In [3]:
df.duplicated().sort_values()

0        False
40032    False
40033    False
40034    False
40035    False
         ...
20025    False
20026    False
20027    False
20015    False
60059    False
Length: 60060, dtype: bool

In [4]:
fldf = df[(df['state'] == 'FL')]

fldf.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
78,08/22/2022,FL,"6,977,800",NaN,NaN,"6,870","2,376","79,959",NaN,NaN,43,8,08/22/2022 12:00:00 AM,Not agree,Not agree
93,04/10/2021,FL,"2,085,229",NaN,NaN,"5,520","1,433","34,620",NaN,NaN,50,3,04/10/2021 12:00:00 AM,Not agree,Not agree
102,10/17/2020,FL,"739,613",NaN,NaN,"2,476",233,"17,211",NaN,NaN,74,2,10/17/2020 12:00:00 AM,Not agree,Not agree
112,08/18/2021,FL,"3,014,988",NaN,NaN,"24,405","5,842","45,209",NaN,NaN,369,28,08/18/2021 12:00:00 AM,Not agree,Not agree
133,03/10/2021,FL,"1,924,074",NaN,NaN,"5,046","1,299","32,923",NaN,NaN,63,1,03/10/2021 12:00:00 AM,Not agree,Not agree

In [5]:
fldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1001 entries, 78 to 60056
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  1001 non-null   object
 1   state            1001 non-null   object
 2   tot_cases        1001 non-null   object
 3   conf_cases       0 non-null      object
 4   prob_cases       0 non-null      object
 5   new_case         1001 non-null   object
 6   pnew_case        962 non-null    object
 7   tot_death        1001 non-null   object
 8   conf_death       0 non-null      object
 9   prob_death       0 non-null      object
 10  new_death        1001 non-null   object
 11  pnew_death       962 non-null    object
 12  created_at       1001 non-null   object
 13  consent_cases    1001 non-null   object
 14  consent_deaths   1001 non-null   object
dtypes: object(15)
memory usage: 125.1+ KB

In [6]:
fldf.to_csv('florida_deaths.csv', encoding='utf-8')